@model PrerequisiteGame.Models.ClassesTaken

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClassesTaken</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurrentClassOffering.timeOffered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentClassOffering.timeOffered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClassesTakenID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
